@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #020617;
  color: white;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
  color: white;
}

.grid-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.025) 1px, transparent 1px);

  background-size: 55px 55px;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    transparent 90%
  );
}

.nav-link {
  position: relative;
  transition: color 0.25s ease;
}

.nav-link:hover {
  color: #22d3ee;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 1px;
  background: #22d3ee;
  transition: width 0.25s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.floating-card {
  animation: floating 6s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}